body {
}

.wIcon {
    font-size: 40px;
    padding: 20px;
    margin-left: 30px;
}

.op {
    background-color: #f8f9fa;
    padding: 100px;
}

.currentHeader {
    background-image: linear-gradient(#0074ad, #004b99);
    padding: 50px;
    color: #f8f9fa;
}
